 
  .tweets > article {
    border-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
  }

  .tweets > article:hover {
    box-shadow: 7px 7px 0 lightgray;
  }
  
  .tweets > article > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .tweets > article > header > label {
    color: lightgray;
    font-weight: bold;
  }
  
  .tweets > article > header > div {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .tweets > article > header > div > img {
    width: 50px;
    height: 50px; 
  }
  
  .tweets > article > content > div {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    border: none;
    background-color: #f4f1ec;
    border-bottom: 4px solid #545149; 
    font-weight: bold;
    color: #545149;
    text-align: left;
    padding-bottom: 20px;
  }
  
  .tweets > article > footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding: 10px;
  }


.tweets > article > footer > div {
  color: darkblue;
}
.tweets > article > footer > div > i:hover {
  color: burlywood;
}