body > header {
  z-index: 1;
  position: fixed;
  padding-top: 120px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/fabric.png');
  color: #FFFFFF;
}