body > header {
  /* z-index: 1; */
  padding-top: 120px;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/binding-light.png');
}